<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link  id="pagestyle" rel="stylesheet" href="./css/bootstrap-dark.min.css">
    <script src="js/themeHandler.js"></script>
	<style>
.from-container{
	width:75%;
    margin-left: auto;
    margin-right: auto;
}

	</style>

<title th:text="#{form.register}"></title>
<link rel="icon" href="/favicon.ico">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="from-container">
		<h1 th:text="#{form.register}"></h1>
		<form class="form-group" th:action="@{/register}" method="POST" enctype="utf8" th:object="${UserRegistration}" >
			<div>
				<div class="form-group">
					<label th:text="#{user.username}"></label>
					<input class="form-control" name="username" required="required" type="text"/>
					<th:block th:if="${user_exists}!=null">
						<div class="text-danger" th:text="#{user.already.exists}"></div>
					</th:block>
				</div>
				<div class="form-group">
					<label th:text="#{user.email}"></label>
					<input class="form-control" required="required" name="email" type="email"/>
					<th:block th:if="${email_exists}!=null">
						<div class="text-danger" th:text="#{email.already.exists}"></div>
					</th:block>
				</div>
				<div class="form-group">
					<label th:text="#{user.password}"></label>
					<input class="form-control" name="password" required="required" type="password"/>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" th:text="#{form.register.submit}">submit</button>
		</form>
	</div>
</body>
</html>